<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <div class="container-fluid">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <h5 class="pt-1">Url Shortner</h5>
        </a>       
    </div>
</nav>
<app-url></app-url>
<div style="height: 300px;"></div>

<!-- Footer -->
<footer class="bg-primary text-center text-white fixed-bottom">
    <div class="container p-4 pb-0">
        <section class="mb-4">    
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/vital-pandu" role="button"><i class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
    </div>
</footer>
<!-- Footer -->